---
- name: 'Allow SSH'
  become: yes
  ufw:
    rule: allow
    name: OpenSSH

- name: 'Allow Logstash'
  become: yes
  ufw:
    rule: allow
    port: 5044

## Probably don't allow for public facing servers
# - name: 'Allow Elasticsearch config'
#   become: yes
#   ufw:
#     rule: allow
#     port: 9200

- name: 'Deny all ingress'
  become: yes
  ufw:
    policy: deny
    direction: incoming

- name: 'Allow all egress traffic'
  become: yes
  ufw:
    policy: allow
    direction: outgoing

- name: 'Enable UFW'
  become: yes
  ufw:
    state: enabled

- name: 'Allow NGiNX'
  ufw:
    rule: allow
    name: 'Nginx Full'
